.col {
  display: grid;
  place-items: center;
  height: 100%;
}

.card {
  display: grid;
  place-items: center;
  margin: 0 auto;
  text-align: center;
  border: none;
  border-width: 0;
}

.card>img {
  width: 100px;
}