.Container {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

.bg-body-tertiary {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2rem;
}

Button {
  font-size: 2rem;
}