.Container {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.bg-body-tertiary {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2rem;
}

Button {
  font-size: 2rem;
}

/* .bubble-text {
  font-size: clamp(2rem, calc(2rem + 3.5vw), 8rem);
  color: hsl(101, 39%, 38%);
} */